{
  "temp-dir": "./coverage/.nyc_output",
  "include": [
    "packages/**/*.ts"
  ],
  "exclude": [
    "packages/**/*.spec.ts",
    "packages/**/test/**/*.ts"
  ],
  "extension": [
    ".ts"
  ],
  "require": [
    "ts-node/register"
  ],
  "reporter": [
    "cobertura",
    "text",
    "html"
  ],
  "sourceMap": true,
  "instrument": true
}
